!background = #efefef
!button_bg = #efefef
!line = #efefef
!link = #3B5998
!base = #000
!base_bg = #fff

!total_width = 60em
!data_width = 43em
!data_margin = 1em
!sidebar_width = 11em

!ratio = 1.68

=rounded-corners(!radius)
  -webkit-border-radius = !radius
  -moz-border-radius = !radius

=info
  padding: 0.25em 0.65em
  background: #fff
  color= !base
  +rounded-corners(0.4em)
  border: 0.1em solid #ddd  
=button
  +info
  cursor: pointer
  &:hover
    background= !background
    color= !link
  