html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

*:focus {
  outline: 0; }

body {
  line-height: 1;
  color: black;
  background: white; }

ol, ul {
  list-style: none; }

table {
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

blockquote:before, blockquote:after {
  content: ""; }

q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

body {
  font-size: 16px;
  width: 85%;
  font-family: Georgia, sans;
  margin: 1em auto;
  max-width: 60em;
  min-width: 43em;
  line-height: 1.2em;
  color: #000; }

a {
  text-decoration: none;
  color: #000; }
  a:hover {
    text-decoration: none; }
  a:visited {
    text-decoration: none;
    color: #000; }

input[type=submit] {
  background-color: #ccc; }

.main-col {
  width: 43em; }

.header {
  position: relative;
  min-width: 43em; }
  .header h1 {
    font-size: 2em;
    display: inline;
    line-height: 1.3em; }
    .header h1 sup {
      font-size: 0.5em;
      vertical-align: top;
      font-style: italic;
      margin: 0.2em; }
  .header ul.nav {
    position: absolute;
    bottom: -0.2em;
    right: 0.7em;
    display: block; }
    .header ul.nav li {
      display: inline-block; }
      .header ul.nav li a {
        font-size: 0.85em;
        padding: 0.3em 0.5em;
        margin-left: 0.2em;
        background: white;
        cursor: pointer;
        -webkit-border-radius: 0.35em;
        -moz-border-radius: 0.35em;
        border: 0.1em solid #dddddd; }
        .header ul.nav li a:hover {
          background: #efefef; }

.block {
  background: #efefef;
  padding: 1em;
  margin-bottom: 1em;
  margin-right: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em; }

.intro {
  float: left;
  width: 43em; }
  .intro h3 {
    font-weight: bold;
    margin: 0.5em 0; }
  .intro p {
    line-height: 1.4em;
    margin-bottom: 1em;
    font-size: 0.95em; }

.sidebar {
  float: left;
  width: 11em;
  line-height: 1.2em;
  text-align: center; }
  .sidebar h5 {
    font-weight: bold;
    margin-bottom: 0.2em; }

.footer {
  clear: both;
  min-width: 43em;
  text-align: center; }
  .footer p {
    font-size: 0.8em; }
  .footer hr {
    width: 70%;
    margin: 0.5em auto; }

.form.block {
  padding: 1em 2em; }
  .form.block .field {
    margin: 1em 0; }
  .form.block label {
    width: 7em;
    display: inline-block;
    float: left;
    margin-right: 1em;
    margin-top: 0.8em; }
  .form.block input, .form.block textarea {
    width: 30em;
    max-width: 35em;
    font-size: 1.2em;
    padding: 0.5em;
    border: 0.1em solid #ccc;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    font-family: Georgia, sans-serif; }
  .form.block textarea {
    font-size: 1em;
    height: 8em;
    max-height: 8em;
    line-height: 1.4em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em; }
  .form.block input[type=submit] {
    width: auto;
    padding: 0.5em 0.84em;
    cursor: pointer; }

.question-list {
  width: 43em; }

.question {
  overflow: hidden;
  position: relative;
  padding: 1em;
  margin-bottom: 1em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  background: #ddd;
  cursor: pointer;
  display: block; }
  .question.last {
    margin-bottom: 0; }
  .question:hover {
    background: #cfcfcf; }
  .question .main .text {
    font-size: 1em;
    font-weight: bold;
    display: block;
    margin-bottom: 0.3em; }
  .question .main .details {
    font-size: 0.9em; }
  .question .votes {
    display: block;
    margin: 0 0 1.2em 1.2em;
    float: right;
    padding: 0.6em;
    background: #efefef;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em; }
    .question .votes .number, .question .votes .text {
      display: block;
      text-align: center;
      font-weight: normal; }
    .question .votes .number {
      font-weight: bold; }
    .question .votes .text {
      font-size: 0.8em;
      margin-top: 0.2em; }

.answer {
  padding: 1em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  background: #cfcfcf;
  margin-bottom: 1em; }
