html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

*:focus {
  outline: 0; }

body {
  line-height: 1;
  color: black;
  background: white; }

ol, ul {
  list-style: none; }

table {
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

blockquote:before, blockquote:after {
  content: ""; }

q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

body {
  font-size: 16px;
  width: 90%;
  font-family: Georgia, sans;
  margin: 1.5em auto;
  max-width: 60em;
  min-width: 43em;
  line-height: 1.2em;
  color: black; }

iframe {
  overflow: hidden; }
  iframe body {
    overflow: hidden; }

a {
  text-decoration: none;
  color: black; }
  a:hover {
    text-decoration: none; }
  a:visited {
    text-decoration: none; }

.content-holder {
  min-height: 26em; }

.block {
  padding: 1em 0;
  margin-bottom: 1em;
  position: relative;
  border: 0.1em solid #efefef;
  border-left: none;
  border-right: none; }
  .block a {
    color: #3b5998; }

input[type=submit] {
  background-color: #ccc; }

.main-col {
  width: 43em;
  margin-bottom: 0; }

.header {
  position: relative;
  min-width: 43em;
  margin-right: 0;
  border-bottom: 0.2em solid #efefef; }
  .header h1 {
    font-size: 2em;
    display: inline;
    line-height: 1.3em; }
    .header h1 sup {
      font-size: 0.5em;
      vertical-align: top;
      font-style: italic;
      margin: 0.2em; }
  .header .search-box {
    position: absolute;
    right: 0;
    bottom: 1.5em; }

a.user-box {
  color: black; }
  a.user-box:hover {
    color: #3b5998; }

ul.buttons {
  display: block;
  position: absolute;
  top: -0.7em;
  right: 1em; }
  ul.buttons li {
    display: inline-block; }
    ul.buttons li a {
      font-size: 0.80em;
      padding: 0.25em 0.65em;
      background: #fff;
      color: black;
      -webkit-border-radius: 0.4em;
      -moz-border-radius: 0.4em;
      border: 0.1em solid #ddd;
      cursor: pointer;
      margin-left: 0.2em; }
      ul.buttons li a:hover {
        background: #efefef;
        color: #3b5998; }
      ul.buttons li a.user-box {
        font-weight: bold;
        padding: 0.4em 0.8em; }

.pagination {
  margin: 1.5em 0 1em;
  overflow: hidden;
  text-align: center; }
  .pagination a:hover {
    text-decoration: underline; }
  .pagination .next {
    float: right;
    margin-left: 1em; }
  .pagination .prev {
    float: left;
    margin-right: 1em; }

.intro {
  float: left;
  width: 43em;
  margin-right: 2em; }
  .intro h3 {
    font-weight: bold;
    margin: 0.5em 0; }
  .intro p {
    line-height: 1.4em;
    margin-bottom: 1em;
    font-size: 0.95em; }

.sidebar {
  float: left;
  width: 11em;
  line-height: 1.2em;
  text-align: center;
  padding: 1em 2em; }
  .sidebar h5 {
    font-weight: bold;
    margin-bottom: 0.2em; }

.footer {
  clear: both;
  min-width: 43em;
  text-align: center; }
  .footer p {
    font-size: 0.8em; }
  .footer hr {
    width: 70%;
    margin: 0.5em auto; }

.form {
  padding: 0em 2em; }
  .form .field {
    margin: 1em 0; }
  .form label {
    width: 7em;
    display: inline-block;
    float: left;
    margin: 0.8em 1em 1em 0; }
  .form input, .form textarea {
    width: 30em;
    max-width: 35em;
    font-size: 1.2em;
    padding: 0.5em;
    border: 0.1em solid #ccc;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    font-family: Georgia, sans-serif; }
  .form textarea {
    font-size: 1em;
    height: 8em;
    max-height: 8em;
    line-height: 1.4em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em; }
  .form input[type=submit] {
    width: auto;
    padding: 0.5em 0.84em;
    cursor: pointer; }

.question-list {
  width: 43em;
  position: relative; }

.holder {
  position: relative; }
  .holder .button {
    padding: 0.25em 0.65em;
    background: #fff;
    color: black;
    -webkit-border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    border: 0.1em solid #ddd;
    cursor: pointer;
    padding: 0;
    width: 1.1em;
    height: 1.1em;
    display: block;
    text-align: center;
    position: absolute; }
    .holder .button:hover {
      background: #efefef;
      color: #3b5998; }
    .holder .button.up {
      top: -0.5em;
      left: -0.5em; }
    .holder .button.down {
      bottom: -0.5em;
      left: -0.5em; }

.votes {
  width: 3em;
  margin-right: 1.2em;
  padding: 0.6em;
  float: left;
  background: white;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em; }
  .votes .number, .votes .text {
    display: block;
    text-align: center;
    font-weight: normal; }
  .votes .number {
    font-weight: bold; }
  .votes .text {
    font-size: 0.8em; }

.question {
  position: relative;
  padding: 1em;
  margin-bottom: 1em;
  background: #efefef;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  cursor: pointer;
  display: block;
  overflow: hidden; }
  .question.last {
    margin-bottom: 0; }
  .question .main {
    float: left;
    width: 35em;
    margin-bottom: 1em; }
    .question .main .text {
      font-size: 1em;
      font-weight: bold;
      display: block;
      margin-bottom: 0.3em; }
    .question .main .details {
      font-size: 0.9em; }
  .question .votes {
    display: block; }
    .question .votes .text {
      margin-top: 0.2em; }

a.question {
  color: black; }

.answer {
  padding: 1em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  background: #efefef;
  margin-bottom: 1em;
  margin-left: 1.5em;
  overflow: hidden; }
  .answer .main {
    float: left;
    width: 33em;
    margin-bottom: 1em; }
  .answer .votes .button {
    line-height: 0.95em;
    font-size: 0.9em; }

.answer-area textarea.answer-box {
  width: 100%; }

.footnote {
  position: absolute;
  right: 1em;
  bottom: -0.6em;
  font-size: 0.75em; }
  .footnote a {
    font-weight: bold;
    padding: 0.25em 0.65em;
    background: #fff;
    color: black;
    -webkit-border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    border: 0.1em solid #ddd;
    cursor: pointer; }
    .footnote a:hover {
      background: #efefef;
      color: #3b5998; }
  .footnote span {
    padding: 0.25em 0.65em;
    background: #fff;
    color: black;
    -webkit-border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    border: 0.1em solid #ddd; }

.no-data {
  text-align: center;
  padding: 3em;
  color: #cf0000;
  margin-bottom: 0; }
  .no-data a {
    border-bottom: 0.1em dotted #efefef; }
