@import reset.sass
@import constants.sass

body
  font-size: 16px
  width: 90%
  font-family: Georgia, sans
  margin: 1.5em auto
  max-width= !total_width
  min-width= !data_width
  line-height: 1.2em
  color= !base

iframe
  overflow: hidden
  body
    overflow: hidden
  
a
  text-decoration: none
  color= !base
  &:hover
    text-decoration: none
  &:visited
    text-decoration: none

.block
  padding: 1em 0
  margin-bottom: 1em 
  position: relative
  border: 0.1em solid #{!line}
  border-left: none
  border-right: none
  a
    color= !link

input[type=submit]
  background-color: #ccc
  
.main-col
  width= !data_width
  margin-bottom: 0

  
.header
  position: relative
  min-width= !data_width
  margin-right: 0
  border-bottom: 0.2em solid #{!line}
  h1
    font-size: 2em
    display: inline
    line-height: 1.3em
    sup
      font-size: 0.5em
      vertical-align: top
      font-style: italic
      margin: 0.2em
  .search-box
    position: absolute
    right: 0
    bottom: 1.5em

a.user-box
  color= !base
  &:hover
    color= !link

ul.buttons
  display: block
  position: absolute
  top: -0.7em
  right: 1em
  li
    display: inline-block
    a
      font-size: 0.80em
      +button
      margin-left: 0.2em
      &.user-box
        font-weight: bold
        padding: 0.4em 0.8em

.pagination
  margin: 1.5em 0 1em
  overflow: hidden
  text-align: center
  a:hover
    text-decoration: underline
  .next
    float: right
    margin-left: 1em
  .prev
    float: left
    margin-right: 1em
  

.intro  
  float: left
  width= !data_width
  margin-right: 2em
  h3
    font-weight: bold
    margin: 0.5em 0
  p
    line-height: 1.4em
    margin-bottom: 1em
    font-size: 0.95em

.sidebar
  float: left
  width= !sidebar_width
  line-height: 1.2em
  text-align: center
  padding: 1em 2em
  h5
    font-weight: bold
    margin-bottom: 0.2em
    
.footer
  clear: both
  min-width= !data_width
  text-align: center

  p
    font-size: 0.8em
  hr 
    width: 70%
    margin: 0.5em auto
    
.form
  padding: 1em 2em
  .field 
    margin: 1em 0
  label
    width: 7em
    display: inline-block
    float: left
    margin: 0.8em 1em 1em 0
    
  input, textarea
    width: 30em
    max-width: 35em
    font-size: 1.2em
    padding: 0.5em
    border: 0.1em solid #ccc
    +rounded-corners(0.5em)
    font-family: Georgia, sans-serif
    
  textarea
    font-size: 1em
    height: 8em
    max-height: 8em
    line-height: 1.4em
    +rounded-corners(1em)
    
  input[type=submit]
    width: auto
    padding: 0.5em #{0.5em*!ratio}
    cursor: pointer

.question-list
  width= !data_width
  position: relative

.holder
  position: relative
  .button
    +button
    padding: 0
    width: 1.1em
    height: 1.1em
    display: block
    text-align: center
    position: absolute
    &.up
      top: -0.5em
      left: -0.5em
    &.down
      bottom: -0.5em
      left: -0.5em
  
.votes 
  width: 3em
  margin-right: 1.2em
  padding: 0.6em
  float: left
  background= !base_bg
  +rounded-corners(0.5em)
  .number, .text
    display: block
    text-align: center
    font-weight: normal
  .number
    font-weight: bold
  .text
    font-size: 0.8em

.question
  position: relative    
  padding: 1em
  margin-bottom: 1em 
  background= !background
  +rounded-corners(0.5em)
  cursor: pointer
  display: block
  overflow: hidden
  &.last
    margin-bottom: 0
  .main
    float: left
    width= !data_width - 8em
    margin-bottom: 1em
    .text
      font-size: 1em
      font-weight: bold
      display: block
      margin-bottom: 0.3em
    .details
      font-size: 0.9em
      
  .votes
    display: block
    .text
      margin-top: 0.2em
      
a.question
  color= !base
.answer 
  padding: 1em
  +rounded-corners(0.5em)
  background= !background
  margin-bottom: 1em
  margin-left: 1.5em
  overflow: hidden
  .main
    float: left
    width= !data_width - 10em
    margin-bottom: 1em
  
  .votes
    .button
      line-height: 0.95em
      font-size: 0.9em

.answer-area
  textarea.answer-box
    width: 100%

.footnote
  position: absolute
  right: 1em
  bottom: -0.6em
  font-size: 0.75em
  a
    font-weight: bold
    +button
  span 
    +info

.no-data
  text-align: center
  padding: 3em
  color: #cf0000
  margin-bottom: 0
  a
    border-bottom: 0.1em dotted #{!background}